
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(10);
    width: 100vh;
    height: 100vh;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 50%;
    animation: loader 3s ease-out forwards;
    z-index: 99;
}
@keyframes loader {
    0% {
        transform: translate(-50%, -50%) scale(10); 
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0); 
        opacity: 0;
    }
} 



li{
    list-style-type: none;
}

body,p,a,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


button{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 35px;
}

button:hover{
    background: linear-gradient(200.64deg, #d4b0ff -5.2%, #ff51ce 110.74%),
linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    cursor: pointer;
}



.head-page{
    width: 100%;
    text-align: center;
    padding: 15px;
}

.head-page img{
    width: 162px;
    height: 44px;
    
}

.headl{
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    text-align: center;
}

.headl p{
    padding: 15px;
    color: rgba(53, 53, 53, 1);
}

.explorer{
    min-height: 160px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    text-align: center;
    padding: 20px;
}


.inexp h3{
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

}
.explorer .inexp p{
    padding: 30px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}


.fonctionnement{
    padding: 20px;
    width: 100%;
    
}
.headertxtdiv{
    width: 60%;
    padding: 15px;
}

@media screen and (min-width: 1401px) {
    .headertxtdiv{
        margin: 0 auto;
    }
}


.infonctionnement{
    display: flex;
    flex-wrap: wrap;
    max-width: 1053px;
    padding: 20px;
    gap: 22px;
    margin: 0 auto;
}
.infonctionnement div{
    display: flex;
    width: 322.49px;
    height: 72.38px;
    background-color: #F6F6F6;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

}

.infonctionnement div p{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    
}

.infonctionnement div .fa-mobile, .fa-list{
    color: grey;
}

.fa-store{
    color: rgba(147, 86, 220, 1);
}



.infonctionnement div .circle{
    width: 24px;
    height: 24px;
    background-color:rgba(147, 86, 220, 1) ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    right: 10px;
}
.infonctionnement div .pcircles{
    width: 24px;
    height: 24px;
    background-color:#9356DC ;
    align-items: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.restaurants{
    padding-bottom: 40px;
    width: 100%;
    background-color: #F6F6F6 ;
    padding: 10px;
    height: auto;
    
}

h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 100px;
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.card:nth-child(4) { 
    margin-bottom: 30px;
}

.card{
    margin-top: 20px;
    height: 251px;
    width: 490px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;
    
}

.card .nouveau{
    align-content: flex-end;
    background-color: rgba(153, 226, 208, 1);
    color: rgba(0, 135, 102, 1);
    font-weight: 700;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 7px 10px 7px;
}

.nouveau p{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
}

.card img{
    height: 73%;
    object-fit: cover;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.card .card-content{
    height: 27%;
    padding: 5px 20px;
    display: flex;
    width: 100%;
    
}
.card-txt{
    width: 70%;
    margin: auto;
}

.card-txt h3{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.card-txt P{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
}
.cardheart {
    display: flex;
    justify-content: end;
    position: relative;
    width: 30%;
    padding-top: 10px;
    padding-right: 20px;
}

label {
    display: inline-block;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}
.heart-toggle {
    display: none;
}

.fa-regular {
    position: absolute;
    color: black;
}

.solid-heart {
    position: absolute;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    clip-path: inset( 0 0 100% 0); 
    transition: clip-path 0.8s ease-in-out;
}

label:hover .solid-heart {
    clip-path: inset(0 0 0 0);
}



.footer {
    position: relative;
    margin-top: -50px;
    background-color: #333;
    color: white;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
        }
    .footer-logo{
        padding-bottom: 10px;
        font-family: Shrikhand;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 26.24px;
        } 
    .footer-menu {
        display: block;
        }
        .footer-menu a {
            display: block;
            margin: 0.5rem 0;
            color: white;
            text-decoration: none;
            font-family: Roboto;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            }

            .icon {
                margin-right: 0.4rem;
            }



      

        @media screen and (min-width: 1024px) {

            .inexp h3{
                
                font-family: Roboto;
                font-weight: 700;
                font-size: 40px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                
                
                
            }


            .footer {
                flex-direction: row-reverse; 
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
                width: 100%;
            }
            .footer-logo{
                padding:0 40px 0px  30px ;
            }
            .footer-menu {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                padding-right: 20px;
            }
            .footer-menu a {
                display: inline-flex;
                align-items: center;
                margin: 0;
            }
            .footer-menu {
                margin-left: auto;
            }
        }


